#comments {
	margin-top: 2em;
	ol {
		list-style: none;
		li {
			border-top: 1px solid #efefef;
			padding: 1rem 0;

			.comment-author {
				display: flex;
				img {
					@include border-radius(100%);
				}
				cite { 
					display: inline-block;
					margin: .3rem .5rem 0 0; 
					font-size: .9rem;
				}
				.says {
					display: none;
				}
			}

			.comment-meta {
				display: none;
			}

			p {
				font-size: .9rem;
			}

			.reply {
				margin-bottom: .5rem;
				text-align: left;
				a {
					background: $btn-success-bg;
					padding: 0 .4rem;
					font-size: .8rem;
					color: $btn-success-color;
					@include border-radius($btn-success-border-radius);
				}
			}

			.comment-awaiting-moderation {
				background-color: #777;
				color: #fff;
				@include border-radius(.2rem);
				padding: 0 .3rem;
				font-size: .7rem;
			}
		}
	}

	.comment-notes {
		display: none;
	}
	.comment-form-author, .comment-form-email, .comment-form-url {
		display: inline;
	} 
	#respond {
		text-align: center; 
		input, textarea { 
			margin:0;
			padding: 0.6em 2%; 
			border: 1px solid #eee;
			@include border-radius(4px);
			font-family: 'Samim';
		}
		textarea {
			display: block;
			margin: 1em auto;  
			width: 94%;
			font-size: 1em;
			resize: vertical;
		}
		input { 
			width: 26.5%; 
		}
		input[name=author] {
			margin-left: 2.5%;
		}
		input[name=email], input[name=url] {
			directly: ltr;
			text-align: left; 
		}
		input[name=url] { 
			margin-right: 2.5%; 
		}
		input[name=submit] { 
			background-color: #5b5;
			border: none;
			width: 99%;
			color: #fff;
			cursor: pointer;
			font-weight: 700; 
			&:hover {
				background-color: #5a5;
			}
		}
	}
}

@media all and (max-width: 440px) {
	#comments {
		#commentform { 
			input { 
				display: block;
				margin: 1rem 0!important; 
				width: 94%;
				font-size: 1em;
				resize: vertical; 
			} 
		}
	}
}