@mixin transform-rotate($deg) {
    transform: rotate($deg);
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -o-transform: rotate($deg);
    -ms-transform: rotate($deg);
}

@mixin transition ($a, $d) {
    -webkit-transition: $a $d;
    transition: $a $d;
}

@mixin transform-translate ($a, $b) {
    -moz-transform: translate($a, $b);
    -ms-transform: translate($a, $b);
    -o-transform: translate($a, $b);
    -webkit-transform: translate($a, $b);
    transform: translate($a, $b);
}

@mixin border-radius ($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}