.post-date-divider { 
  text-align: center;
  font-size: .9rem;
  color: #555; 
  line-height: .3; 
  border-bottom: 2px solid #efefef;
  margin: 3rem 0 1rem 0;
  span {
    background: $body-bg;
    padding: 0 2rem;     
  }
}

@media all and (max-width: 560px) {
  .post-date-divider { 
    font-size: .8rem;
    margin: 3rem 0 1rem 0; 
      span {
        padding: 0 1rem;
      }
  }
}

article { 
  color: #333;
  .post-title {
    font-size: 2rem;
  }
  .comments-number {
    color: #555;
    font-size: .9rem;
  }
}

.post-tag {
  background: #f7f7f7;
  font-size: .7rem;
  padding: 0 .4rem;
  @include border-radius(.3rem);
  cursor: pointer;
  margin: .3rem; 
  &:hover {
    background: #eee;
  }
}

pre {
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.85);
  @include border-radius(.2rem); 
  color: #28fe14;
  padding: .5rem;
  font-family: monospace;
  text-align: left;
  direction: ltr;
}
