/** Theme Color Samples :) **/ 
$color: #02b875;
$color-hover: #1c9963;
$color-light: #0b7;

 
$container-width: 40rem; 
$container-width-plus: 42rem;

$body-bg: #fff;

$btn-success-bg: #1c9963;
$btn-success-border-radius: .2rem;
$btn-success-color: #fff;