/** Theme Color Samples :) **/
// $color: #98E2C4;
// $color-hover: #7FDBB6;

// $color: #e43;
// $color-hover: #a43;

$color: #1D8E9B;
$color-hover: #156770;

$container-width: 40rem; 
$container-width-plus: 42rem;

$body-bg: #fdfdfd;

$btn-success-bg: #5b5;
$btn-success-border-radius: .2rem;
$btn-success-color: #fff;