/** Theme Color Samples :) **/ 
$color: #1D8E9B;
$color-hover: #156770;
$color-light: #5E9CA3;

$container-width: 45rem; 
$container-width-plus: 47rem;

$body-bg: #fff;

$btn-success-bg: #5b5;
$btn-success-border-radius: .2rem;
$btn-success-color: #fff;
